---
import '../styles/styles.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="p-8 bg-slate-900 text-white font-serif">
    <p class="text-00">Almost before you knew it, we'd touched ground.</p>
    <p class="text-0">Almost before you knew it, we'd touched ground.</p>
    <p class="text-1">Almost before you knew it, we'd touched ground.</p>
    <p class="text-2">Almost before you knew it, we'd touched ground.</p>
    <p class="text-3">Almost before you knew it, we'd touched ground.</p>
    <p class="text-4">Almost before you knew it, we'd touched ground.</p>
    <p class="text-5">Almost before you knew it, we'd touched ground.</p>
    <p class="text-6">Almost before you knew it, we'd touched ground.</p>
    <p class="text-7">Almost before you knew it, we'd touched ground.</p>
    <p class="text-8">Almost before you knew it, we'd touched ground.</p>
  </body>
</html>
